/* Герой */

.hero {
    text-align: center;
    background-color: var(--bgc-hero-title);
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/hero/mobile-img/mb-hero.jpg);
    background-color: #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/hero/mobile-img/mb-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero/tab-img/tb-hero.jpg);
    }
  }
  
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero/tab-img/tb-hero@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero/desctop-img/dt-hero.jpg);
    }
  }
  
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero/desctop-img/dt-hero@2x.jpg);
    }
  }



  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-bgc);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero__title {
      max-width: 360px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .hero__title {
      font-size: 44px;
      line-height: 1.36;
    }
  }

/* Головна кнопка */
.hero__btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px ;
    min-width: 216px;
    transition:background-color var(--transition-dur-n-fuc) ;
    background-color:var(--Blue-color) ;
    color: var(--white-bgc);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
  
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    &:hover {
        background-color: var(--bgc-btn-act);
        color: var(--white-bgc);
    }

}

